.idea/
tests/__pycache__/
lcatoolbox.egg-info/
src/lcatoolbox/__pycache__/
tests/test_contributions_tree_expected_dataframe.ods
tests/test_contributions_tree_actual_dataframe.ods
tests/test_grouped_contributions_expected_dataframe.ods
tests/test_grouped_contributions_actual_dataframe.ods
